@page
@inject IHttpContextAccessor contxt;
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li> User id:  @contxt.HttpContext.Session.GetInt32("UserId")</li>
    <li> User Name: @contxt.HttpContext.Session.GetString("UserName")</li>
</ul>