@page
@model FreshFarmMarket.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="card mx-auto" style="max-width:700px; margin-top:40px;">
    <article class="card-body">
	<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
	<form>
		<div class="form-row ">
			<div class="col-md-6 form-group ">
				<label asp-for="MyUser.Email"></label>
				<input class="form-control" placeholder="Enter your email" asp-for="MyUser.Email">
				<span asp-validation-for="MyUser.Email" class="text-danger"></span>
			</div> <!-- form-group end.// -->


			<div class="form-group col-md-6">
				<label asp-for="MyUser.Password">Password</label>
				<input class="form-control" placeholder="Enter your password" asp-for="MyUser.Password">
				<span asp-validation-for="MyUser.Password" class="text-danger"></span>
			</div> <!-- form-group end.// --> 
		</div> <!-- form-group end.// --> 

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Login</button>
		</div> <!-- form-group// -->      				
	</form>
	</article><!-- card-body.// -->
</div> <!-- card .// -->
<br><br>

